<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <!-- the alert diretive is from Angular UI Bootstrap -->
            <alert ng-repeat="alert in locationDetailsCtrl.alerts" type="alert.type"
                   close="locationDetailsCtrl.closeAlert($index)">{{alert.msg}}
            </alert>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Location Details</h3>
            </div>
        </div>

        <div class="row" ng-cloak>
            <div class="col-md-12">
                City: {{ locationDetailsCtrl.location.city }} <br>
                State: {{ locationDetailsCtrl.location.state }} <br>
                Extra Field: {{ locationDetailsCtrl.location.extraField }} <br>
                Another Field: {{ locationDetailsCtrl.location.anotherField }} <br>
                <button ng-click="locationDetailsCtrl.viewLocations()">View Locations</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button ng-click="locationDetailsCtrl.showModal()">Show Modal</button>
            </div>
        </div>
    </div>
</div>
